<?xml version='1.0'?>

<!-- choose a name space and start xacro -->
<robot name="arm_mode" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Start by including all required xacro files which hold the macros -->
  <xacro:include filename="$(find sim_world)/models/arm_mode/arm_mode.gazebo" />
  <xacro:include filename="$(find sim_world)/models/arm_mode/materials.xacro" />
  <xacro:include filename="$(find sim_world)/models/arm_mode/macros.xacro"    />
  <xacro:include filename="$(find sim_world)/models/arm_mode/parameter.xacro" />
  <xacro:include filename="$(find sim_world)/models/common_models/common_models.xacro" />

</robot>

