<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="rover" default="$(find rover_world)/urdf/rover_geometric"/>
    <arg name="rvizconfig" default="$(find rover_world)/rviz/urdf.rviz" />

    <include file="$(find rover_world)/launch/rover_complete.launch">
        <arg name="rover" value="$(arg model)" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

    <rosparam command="load"
        file="$(find rover_world)/config/rover_control.yaml"
        ns="rover_diff_drive_controller" />

    <node name="rover_controller_spawner" pkg="controller_manager" type="spawner"
        args="rover_diff_drive_controller
          --shutdown-timeout 3"/>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/rover_diff_drive_controller/cmd_vel"/>
    </node>

</launch>

    <!-- <arg name="robot" default="machines"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="pause" default="false"/>  
    
    <!-- Start Gazebo with a blank world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rover_world)/worlds/fake_ocean.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg pause)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <rosparam command="load"
            file="$(find rover)/config/joints.yaml"
            ns="r2d2_joint_state_controller" />
    
    <include file="$(find rover_world)/launch/rover_complete.launch">
        <arg name="urdf_robot_file" value="$(find rover_world)/urdf/rover_geometric.urdf" />
    </include> -->